body {
	width: 80%;
	margin: 0 auto;
	font-family: sans-serif;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col {
	display: flex;
	flex-direction: column;
	margin: 0;
	flex: 1;
	align-items: center; /* TODO work on an alignment that still left-aligns items */
}

.title {
	text-align: center;
	border-bottom: 1px solid lightgray;
	margin: 1rem auto;
}

.list {
	border: 1px solid lightgray;
	padding: 2rem;
}

.list > .list__header {
	text-decoration: underline;
}

.list > .list__item {
	margin: 0.5rem;
	font-size: 1.25rem;
}

.list > .list__item > .list__box {
	border: 1px solid black;
	width: 1rem;
	height: 1rem;
	display: inline-block;
}